body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0; 
}

nav {
    margin-bottom: 20px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
}

img {
    width: 100%;
    height: auto;
}

.responsive-img {
     width: 100%; height: auto;
} /* Медіа-запити для адаптації зображення на різних пристроях */
@media (max-width: 1200px) {
     .responsive-img {
         width: 100%; height: auto; 
        } }
@media (max-width: 768px) {
     .responsive-img {
         width: 100%; height: auto;
         }
 } 
 @media (max-width: 480px) {
     .responsive-img {
         width: 100%; height: auto;
         }
}
style.css
